
.framework {
  position: fixed;
  margin: 0 auto;
  width: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 255px;
  margin: 0 auto;
  position: absolute;
  overflow-y: scroll;
  overflow: hidden;
  padding-bottom: 200px;
  top: 114px;
  bottom: auto;
  right: 0;
  left: 0;
  background-color: #e6e6e6;
}

img {
  width: 100%;
}

p, h3 {
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  font-family: verdana;
  font-size: 12px;

}

.arrow-down {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.arrow-down:after {
  content: "";
  width: 22px;
  height: 22px;
  box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.5);
  position: absolute;
  margin: auto;
  margin-top: 310px;
  top: 0;
  right: 0;
  left: 0;
  border-right: 8px solid #ffc213;
  border-bottom: 8px solid #ffc213;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
  0%, 100% {
    top: 60px;
  }
  50% {
    top: 80px;
  }
}
@keyframes arrow {
  0%, 100% {
    top: 60px;
  }
  50% {
    top: 80px;
  }
}

#quote1 {

  width: auto;
  height: 140px;
  background-color: #eedaa9;
}

#quote2 {

  width: auto;
  height: 155px;
  background-color: #eedaa9;
}

#quote3 {

  width: auto;
  height: 180px;
  background-color: #eedaa9;
}

#quote4 {

  width: auto;
  height: 140px;
  background-color: #eedaa9;
}

.quotes {
  font-size: 17px;
  font-family: georgia;
  text-align: center;

}
.quotename {
  font-size: 10px;
  font-family: verdana;
  text-align: bottom left;

}

#graphic1 {
  width: auto;
}

#graphic2 {
  width: auto;
  margin-right: 10px;
}
