.container {
  width: 375px;
  height: 6000px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #e6e6e6;
}

img {
  width: 100%;
  image-resolution:144dpi;
}

.text {
  margin-top: auto;
  margin-left: 40px;
  margin-right: 40px;
  font-family: verdana;
  font-size: 14px;
  color: black;

}

.arrow-down {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.arrow-down:after {
  content: "";
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.5);
  position: absolute;
  margin: auto;
  margin-top: 495px;
  top: 0;
  right: 0;
  left: 0;
  border-right: 12px solid #ffc213;
  border-bottom: 12px solid #ffc213;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}
@keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

#graphic1 {
  width: auto;
  height: 200px;
  background-color: green;
}

#quote1 {
  width: auto;
  height: 200px;
  background-color: orange;
}

#graphic2 {
  width: auto;
  height: 700px;
  background-color: grey;

.bounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  background:red;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
